<html>
<head>
  <style>
    body {
  background-color: lightblue;
}
    p {
    font-family: Arial;
    font-size: 20px;
}
  </style>
       <title>Cecilia's blog</title>
   </head>
<body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p> Hamsters are rodents (order Rodentia) belonging to the subfamily Cricetinae, which contains about 25 species classified in six or seven genera. They have become established as popular small house pets, but, because they are easy to breed in captivity, hamsters are also often used as laboratory animals.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p> Hamsters are pessedt szanalmas creatures.</p>
        </div>
    </body>
</html>
